.page_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-top: 1px solid var(--lightGray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.nav_countdown {
  margin-right: 1rem;
}