@font-face {
  font-family: Chirp;
  src: url('/fonts/Chirp-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: Chirp;
  src: url('/fonts/Chirp-Bold.woff2');
  font-weight: bold;
}

:root {
  --darkGray: #536471;
  --backdropColor: rgb(207, 217, 222, 0.6);
  --mediumGray: #cfd9de;
  --lightGray: #eff3f4;
  --black: #0f1419;
  --blue: #1d9bf0;
  --tintedBlue: #1a8cd8;
}

body {
  margin: 0;
  color: var(--black);
  font-family: Chirp, system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
}

body:has(dialog[open]) {
  height: 100vh;
  overflow: hidden;
}

button {
  font-size: 1rem;
}