@font-face {
  font-family: Chirp;
  src: url('/fonts/Chirp-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: Chirp;
  src: url('/fonts/Chirp-Bold.woff2');
  font-weight: bold;
}

:root {
  --darkGray: #536471;
  --mediumGray: #cfd9de;
  --lightGray: #eff3f4;
  --black: #0f1419;
  --blue: #1d9bf0;
  --tintedBlue: #1a8cd8;
}

body {
  margin: 0;
  color: var(--black);
  font-family: Chirp, system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
}

button {
  font-size: 1rem;
}

.primary_button {
  border: none;
  border-radius: 5rem;
  padding: 1rem 2rem;
  transition: 0.2s background-color;
}

.primary_button:enabled {
  background-color: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.primary_button:enabled:hover {
  background-color: var(--tintedBlue);
}

.primary_button:disabled {
  background-color: var(--lightGray);
}